body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #222;
}

.navbar {
  background-color: #d40000;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 40px;
  background: #fff5f5;
}

.slider img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  background: #d40000;
  color: white;
  padding: 20px;
  text-align: center;
}
